.liens{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    padding-top: 30px;
    
}

.liens .lien {
    color: green;
}

.liens .t {
    color: black;
}

.nav-wrapper h5{
    color: green;
}

.nav-wrapper input{
    margin-top: 30px;
    
}

.l3{
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
}

.l3 a{
    position: absolute;
    color: black;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}


.p{
    color: #002e5a;
}

.l3 img{
    width: 200px;
    height: 300px;
}



.l12 img{
    width: auto;
}

.q{
    width: 300px;
    height: 430px;
}

h5{
    text-align: center;
    color: #002e5a;
}

.text{
    display: flex;
    flex-wrap: wrap;
}

.l{
    width: 300px;
}

.i9{
    height: 350px;
    margin-top: 74px;
}
footer{
    background-color: #256c6e;
}
#n{
    display: none;
}

@media screen and (max-width:1440px){
    h5{
        text-align:center;
    }

    .l12 img{
        max-width: 1000px;
    }

    .l7{
        margin-left: 170px;
    }

    .row .m3 img {
        width: 230px;
        height: 200px;
    }

    .row img {
        width: 500px;
    }

    .center img{
        max-width: 1000px;
    }

    #my-col{
        display: none;
    }

    footer .row .l4 img {
        width: 250px;
        height: auto;
    }
}
@media screen and (max-width:768px) {
    .m12 img{
        max-width:650px ;
    }

    h5{
        text-align:center;
    }

    .row{
        width: 0 auto;
    }

    .row img {
        width: 250px;
        
    }

    .center img{
        max-width: 650px;
    }

    .m10{
        margin-left: 200px;
    }

    footer .m4 img{
        width: 150px;
        
    }
    
    #n{
        display: block;
    }
    #v{
        display: none;
    }

    footer .row .m3 img{
        width: 180px;
        height: auto;
    }

}

