
.header i {
    color: brown;
}
.header p a {
    color: grey;
}
#p {
    background-color: #dfdfdf;
}
#p .nav-wrapper .row  .l6 {
margin-top: 50px;    
}
#p .nav-wrapper .row  .l6 a {
    color: grey;
    border-right: solid;
    padding: 5px;
}
#p .nav-wrapper .row  .l6 a:last-child {
    border-right: none;
}
.conseil .pa {
        width: 45%;
    }
.conseil {
    color: white;
    padding-top: 290px;
    padding-left: 200px;
    padding-bottom: 190px;
    font-size: 15px;
}
.conseil .titre {
    border-right: solid;
    border-color: brown;
    margin-inline: 500px;
    position: relative;
    right: 500px;
}
.conseil .boutton button {
    border: solid;
    border-radius: 60px;
    border-color: white;
    background-color: transparent;
    padding: 20px;
    margin-inline: 30px;
    position: relative;
    right: 30px;
}
.conseil .boutton button a {
    color: white;
}
.conseil .ne {
    width: 400px;
}
.centrer {
    padding: 10px;
}
.centrer h1 {
    text-align: center;
    color: brown;
}
.centrer p {
    text-align: center;
}
.container .row .s6 p {
    width: 350px;
}
.container .row .s6{
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
}
.container {
    display: inline;
}
.container  .row .card .card-content  .ka {
    width: 350px;
    padding-left: 20px;
}
.container .row  {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.container .row .mora {
    margin-left: 120px;
}
.service1 {
    padding: 20px;
}
.service1 .s6 p {
    width: 350px;
    font-size: 16px;
    padding-left: 20px;
}
.service1 .s6 h5 {
    padding-left: 20px;
}
.service1 .s6{
    display: flex;
    flex-wrap: wrap;
}
.service1 .s6 .kira {
    font-size: 14px;
}
.service1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card .s6 p {
    width: 500px;
    font-size: 17px;
}
.card .card-content  {
    background-color: #f8fafb;
    background-size: 1496px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card .card-content .s6 p {
    font-size: 17px;
    margin-left: 250px;
}
.card .card-content .s6 a img {
margin-left: 100px;
}
.card .card-content .row .s6 h3 {
    margin-left: 250px;
}
.card .card-content .row .s6 h5 {
    margin-left: 250px;
}
.ki .row  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding: 40px;
    background-image: url(image/img.png);
    color: white;

}
.ki .row .s6 a {
    border: solid white;
    border-radius: 60px;
    position: relative;
    top: 50px;
}
.article .row {
    gap: 80px;
}
.centrer1 {
    padding: 10px;
}
.centrer1 h1 {
    text-align: center;
    color: brown;
}
.centrer1 p {
    text-align: center;
}
.Evaluation {
    padding-top: 50px;
}
.centrer2 {
    padding: 10px;
}
.centrer2 h1 {
    text-align: center;
    color: brown;
}
.centrer2 p {
    text-align: center;
}
.article .row a {
    color: #a59577;
}
.article .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.centrer3 {
    padding: 10px;
}
.centrer3 .i {
    text-align: center;
}
.centrer3 h1 {
    text-align: center;
    color: brown;
}
.mage {
    padding: 200px;
    padding-bottom: 100px;
    padding-top: 40px;
}
.avis {
    background: #555;
    color: white;
    max-width: 475px; 
    width: 90%;      
    margin: 40px auto;
    padding: 30px;
    border-radius: 4px;
    position: relative;
    font-size: 18px;
    box-sizing: border-box;

}
.avis::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px 20px 0 20px;
    border-style: solid;
    border-color: #555 transparent;
}
.auteur {
    margin-top: 40px;
    color: white;
}

.auteur h2 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    position: relative;

}
.auteur span {
    font-size: 14px;
    letter-spacing: 2px;
    color: #bbb;
    position: relative;
    top: 6px;
    
}
.page-footer .row .s6 h1 {
    color: white;
    text-align: left;
    margin-left: 130px;
}
.page-footer .row .s6 .op {
    color: #515151;
    text-align: left;
    margin-left: 130px;
}
.page-footer .row  .s6 {
    padding: 50px;
    text-align: center;
}
.ff i {
    color: white;
    padding-left: 50px;
    font-size: 20px;
    margin-left: 130px;
}
.point .points {
    margin-left: 1100px;
}
.footer-copy­right {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.footer-copy­right i {
    position: absolute;
    left: 1330px;
}
/* Tablette */
 @media screen and (max-width:768px) {
    .pied  .point .points {
    margin-left: 550px;
    }
    .conseil .pa {
        width: 64%;
    }
.card .card-content .s6 a img {
margin-left: 0;
width: 100%;
}
.conseil {

    color: white;
    padding-left: 10px;
    padding-top: 60px;
    height: 500px;
}
.conseil .ne {
    width: 70%;
}
.header {
    background-color: gray;
}
.header i {
    display: none;
}
.header p a {
    display: none;
 }
 .centrer {
    padding: 0;
}
.container .row .mora {
    margin-left: 0;
 }
 .conseil .titre {
    margin: 20px auto;
    display: block;
    position: relative;
    right: 0;
}

.card .card-content .s6 p,
.card .card-content .row .s6 h3,
.card .card-content .row .s6 h5 {
    margin-left: 0;
    text-align: center;
}

.container .row .mora {
    margin-left: 0;
}

.point .points {
    margin-left: 0;
    text-align: center;
}

.footer-copy­right i {
    position: static;
    display: inline-block;
    margin-top: 10px;
}
.conseil .titre {
    border-right: solid;
    border-color: brown;
    margin-inline: 250px;
    position: relative;
    right: 250px;
}
#p .row .m8 {
    font-size: 10px;
}
}