header{
    background-color: #f6fbf7;
}
#y{
    display: none;
}
.liens{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 25px;
    
}
.nav-wrapper input{
    margin-top: 30px;
    font-size: 25px;
}

.l3{
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
}

.l3 a{
    position: absolute ;
    color: black;
    padding-left:100px;
    font-size: 18px;
    font-weight: 500px;
}

.text{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #256c6e;
}
#n{
    display: none;
}
#s{
    display: none;
}

@media screen and (max-width:1440px){
    header #my-col{
        display:grid;
    }
    .liens{
        font-size: 20px;
    }
    header .nav-wrapper input{
        font-size: 20px;
    }
    body h2{
        font-size:50px;
    }
    .nav-wrapper input{
        font-size: 20px;
    }
    #s{
        display: none
    }
    .l6 h3 {
        font-size: 30px;
    }
    p{
        font-size: smaller;
    }
    .container h5{
        font-size:medium;
    }
    .container .m8 h6{
        font-size: smaller;
    }
    .m10 h4{
        font-size: small;
    }
    .container .col a{
        font-size: xx-small;
    }
    .col input{
        font-size: xx-small;
    }
}

@media screen and (max-width:1024px) {
    body h1{
        font-size: 40px;
    }
    body h2{
        font-size: 33px;
    }
    
}

@media screen and (max-width:768px) {

    .liens{
        font-size: 15px;
    }
    header .nav-wrapper input{
        font-size: 10px;
        margin-right: 10px;
    }
    body h2{
        font-size: 25px;
    }
    body h1{
        font-size: 30px;
    }
    .l6 h3{
        font-size: 20px;
    }
    body h4{
        font-size: 19px;
    }
    #s{
        display: none;
    }
    #my-col{
        display: none;
    }
    .m10{
        margin-left: 200px;
    }
    
    #n{
        display: block;
    }
    #v{
        display: none;
    }
}

@media screen and (max-width:452px){

    #n{
        display: none;
    }
    #s{
        display: block;
    }
    #y{
        display: block;
    }
    body h1{
        font-size: 25px;
    }
    header h2{
        font-size: 25px;
    }
    .center .m2{
        display: none;
    }
    .liens{
        font-size: 10px;
    }
    header .nav-wrapper .s2 input{
        font-size: 15px;
    }
}

