header{
    background-color: #f6fbf7;
}
#y{
    display: none;
}
.liens{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 25px;
    
}
.nav-wrapper input{
    margin-top: 30px;
    font-size: 25px;
}

.l3{
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
}

.l3 a{
    position: absolute;
    color: black;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

.text{
    display: flex;
    flex-wrap: wrap;
}



.i9{
    height: 350px;
    margin-top: 74px;
}
footer{
    background-color: #256c6e;
}
#n{
    display: none;
}
#s{
    display: none;
}
@media screen and (max-width:1440px){

    header .l2 img{
        width: 200px;
    }
    header #my-col{
        display:grid;
    }
    .liens{
        font-size: 20px;
    }
    header .nav-wrapper input{
        font-size: 20px;
    }
    body h2{
        font-size:50px;
    }
    .nav-wrapper input{
        font-size: 20px;
    }
    .row .m3 img {
        width: 230px;
        height: 200px;
    }

    .row img {
        width: 500px;
    }

    .center img{
        max-width: 1000px;
    }
    #s{
        display: block
    }
    .l6 h3 {
        font-size: 30px;
    }
    footer .row .l4 img {
        width: 250px;
        height: auto;
    }
    p{
        font-size: smaller;
    }
    .container h5{
        font-size:medium;
    }
    .container .m8 h6{
        font-size: smaller;
    }
    .m10 h4{
        font-size: small;
    }
    .container .col a{
        font-size: xx-small;
    }
    .col input{
        font-size: xx-small;
    }
}
@media screen and (max-width:768px) {
    header .l2 img{
        width: 120px;
    }
    .liens{
        font-size: 15px;
    }
    header .nav-wrapper input{
        font-size: 10px;
        margin-right: 10px;
    }
    body h2{
        font-size: 25px;
    }
    body h1{
        font-size: 30px;
    }
    .l6 h3{
        font-size: 20px;
    }
    body h4{
        font-size: 19px;
    }
    #s{
        display: none;
    }
    .m12 img{
        max-width:650px ;
    }
    .center img{
        width: 760px;
    }

    .row img {
        width: 250px;
        
    }
    .m10{
        margin-left: 200px;
    }

    footer .m4 img{
        width: 150px;   
    }
    
    #n{
        display: block;
    }
    #v{
        display: none;
    }

    footer .row .m3 img{
        width: 180px;
        height: auto;
    }

}
@media screen and (max-width:452px){

    #n{
        display: none;
    }
    #s{
        display: block;
    }
    #y{
        display: block;
    }
    .center img{
        width: 449px;
    }
    body h1{
        font-size: 25px;
    }
    header h2{
        font-size: 25px;
    }
    .center .s11 img{
        width: 415px;
    }
    .center .m2{
        display: none;
    }
    .liens{
        font-size: 10px;
    }
    header .nav-wrapper .s2 input{
        font-size: 15px;
    }
    footer .row .m3 img{
        width: 120px;
    }
    footer .row .s3 img{
        width: 100px;
    }
    
}

